<h2 mat-dialog-title>Create Recipe</h2>

<div mat-dialog-content class="wrapper">
  <form [formGroup]="createRecipeForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" />
      <mat-error *ngIf="createRecipeForm?.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <div class="image-field">
      <label class="image-label" for="recipe-image-input">Photo</label>
      <input
        id="recipe-image-input"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <p class="hint" *ngIf="!selectedFile">Choose an image from your device</p>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" class="image-preview" />
    </div>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description" />
      <mat-error *ngIf="createRecipeForm?.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="steps" placeholder="Steps" />
      <mat-error *ngIf="createRecipeForm?.get('steps')?.hasError('required')">
        Steps is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" [(value)]="selectedCategory">
        <mat-option *ngFor="let category of categoriesList" [value]="category.id">{{ category.title }}</mat-option>
      </mat-select>

      <mat-error *ngIf="isValidCategory(createRecipeForm.value.category)">
        Possible categories: Salad, Italian, Meat, Burger, Soup
      </mat-error>
    </mat-form-field>
  </form>
</div>


<mat-dialog-actions class="btns">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="!createRecipeForm.valid || !selectedFile"
    (click)="onSubmit()"
  >
    Create
  </button>
</mat-dialog-actions>


